body {
    background-color: white;
    color: black;
    font-family: "jetbrains mono";
}
header {
    background-color: rgb(238, 238, 238);
    color: black;
    display: flex;
    justify-content: center;
}
}
